In [1]:
import pandas as pd
import numpy as np

In [6]:
data = pd.read_csv('data/fake_reviews_dataset.csv')
og_reviews = data[data.label == 'OR']

In [9]:
random_selected_real = og_reviews.groupby('category').sample(n=100, random_state=1)

In [10]:
random_selected_real.to_csv('data/fake_reviews_finetune.csv')

In [12]:
random_selected_real.category.unique()

array(['Books_5', 'Clothing_Shoes_and_Jewelry_5', 'Electronics_5',
       'Home_and_Kitchen_5', 'Kindle_Store_5', 'Movies_and_TV_5',
       'Pet_Supplies_5', 'Sports_and_Outdoors_5',
       'Tools_and_Home_Improvement_5', 'Toys_and_Games_5'], dtype=object)

In [13]:
new = pd.read_csv('data/fake_reviews_finetune.csv')

In [15]:
new.groupby(['category', 'label']).agg('count')

                                    rating  text_
category                     label
Books_5                      CG          0     99
                             OR        100    100
Clothing_Shoes_and_Jewelry_5 OR        100    100
Electronics_5                OR        100    100
Home_and_Kitchen_5           OR        100    100
Kindle_Store_5               OR        100    100
Movies_and_TV_5              OR        100    100
Pet_Supplies_5               OR        100    100
Sports_and_Outdoors_5        OR        100    100
Tools_and_Home_Improvement_5 OR        100    100
Toys_and_Games_5             OR        100    100