In [2]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('data/fake_reviews_dataset.csv')
og_reviews = data[data.label == 'OR']

In [3]:
random_selected_real = og_reviews.groupby('category').sample(n=50, random_state=1)

In [4]:
random_selected_real.to_csv('data/fake_reviews_finetune.csv')

In [5]:
random_selected_real.category.unique()

array(['Books_5', 'Clothing_Shoes_and_Jewelry_5', 'Electronics_5',
       'Home_and_Kitchen_5', 'Kindle_Store_5', 'Movies_and_TV_5',
       'Pet_Supplies_5', 'Sports_and_Outdoors_5',
       'Tools_and_Home_Improvement_5', 'Toys_and_Games_5'], dtype=object)

In [6]:
new = pd.read_csv('data/fake_reviews_finetune.csv')

In [7]:
new.groupby(['category', 'label']).agg('count')

                                    rating  text_
category                     label
Books_5                      CG          0     50
                             OR         50     50
Clothing_Shoes_and_Jewelry_5 CG          0     50
                             OR         50     50
Electronics_5                CG          0     50
                             OR         50     50
Home_and_Kitchen_5           CG          0     50
                             OR         50     50
Kindle_Store_5               CG          0     50
                             OR         50     50
Movies_and_TV_5              CG          0     50
                             OR         50     50
Pet_Supplies_5               CG          0     50
                             OR         50     50
Sports_and_Outdoors_5        CG          0     50
                             OR         50     50
Tools_and_Home_Improvement_5 CG          0     50
                             OR         50     50
Toys_and_Games_5             CG          0     50
                             OR         50     50